.main-width {
  max-width: 1200px;
  margin: 0 auto;
}

.header.main-width {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 50px;
  margin-top: 20px;
}

.header_flex {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header_logoArea {
  width: 50%;
  display: flex;
  justify-content: space-between;
  min-width: 450px;
  p{
    padding: 20px;
    @include RulesFont;
  }

  .header_bookmark {
    width: 50px;
    height: 120px;
    background: $MeaningfullRed;
  }
}

.header_nav_container {
  width: 50%;
  min-width: 450px;
}

.header_nav {
  width: 100%;
  display: flex;
  justify-content: space-around;

  li {
    display: inline-block;
    @include RulesFont;
    padding: 20px
  }
}