@import "components/basic_scss/reset";
@import "components/basic_scss/fonts";
@import "components/basic_scss/variables";

@import "components/header/header";
@import "components/app/app";
@import "components/sidebar/sidebar";

@import "components/footer/footer";

body{
  background: #f1f1f1;
}
#page{
  width: 100vw;
  height: 89.5vh;
  min-height: 710px;
  background: white;
}
